<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/styleDenuncia.css">
</head>
<body>
  <div class="container">
    <div class="logo"></div>
    <div class="tabs">
      <a href="#" class="active">Entrar</a>
      <a href="/Cadastre-se">Criar conta</a>
    </div>

    <form method="post" action="/login">
      <input type="text" name="nome" placeholder="Nome de usuário" required>
      <input type="email" name="email" placeholder="Digite seu e-mail" required>
      <input type="password" name="senha" placeholder="Senha" minlength="6" required>
      <a href="/recuperarSenha">Esqueceu a senha?</a><br><br>
      <input type="submit" value="Entrar">
    </form>

    <p style="font-size: 11px; margin-top: 20px;">
      Ao entrar ou criar uma conta, você concorda com nossos <a href="#">Termos de Serviço</a> e <a href="#">Política de Privacidade</a>.
    </p>
  </div>
</body>
</html>
