<header class="main-header">
    <div class="header-content">
        <div class="logo">
           <a href="/home" ><img src="/img/dataVac logo ofc.png" alt="Dialoga Logo" ></a>  <a href="/home"><span class="span-logo" >Dialoga</span></a>
        </div>
        <div class="user-avatar">
            <span><%= username[0] %></span>
        </div>
    </div>
</header>