<!-- <nav class="navbar">
    <button>Exercicios Diario</button>
    <br><br>
    <button>Comunidade</button>
    <br><br>
    <button>ChatBot com Lumi</button>
    <br><br>
    <a href="/DiarioEmocional">
        <button>Dialoga com si mesmo</button>
    </a>
</nav> -->

<nav class="navbar">
    <a href="/home"><button>Home</button></a>
    <a href="/DiarioEmocional"><button>Dialoga com si mesmo</button></a>
</nav>