<li class="post">
    <p><%= texto %></p>
    <% if (createdAt) { %>
        <small><%= new Date(createdAt).toLocaleString("pt-BR", { timeZone: "America/Sao_Paulo" }) %></small>
    <% } %>
</li>
<hr>