<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Comunidade</title>
    <link rel="stylesheet" href="css/styleGlobal.css">
    <link rel="stylesheet" href="css/styleComponents.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('../partials/header') %>


    <form action="/Postar" method="POST">
        <textarea name="texto" placeholder="Escreva algo..." rows="5" cols="40" required></textarea><br>
        <button type="submit">Publicar</button>
    </form>

    <hr>

   <section>
    <h2>Posts Recentes</h2>
    <ul>
        <% if (post && post.length > 0) { %>
            <% post.forEach(p => { %>
                <%- include('../partials/post', {
                    texto: p.texto,
                    createdAt: p.createdAt
                }) %>
            <% }) %>
        <% } else { %>
            <p>Nenhum post ainda.</p>
        <% } %>
    </ul>

</section>


    <%- include('../partials/footer') %>

</body>
</html>
