<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diario de Emoções</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <h1>Dialoga com si mesmo</h1>
        

        <h2>Nova sessão</h2>
        <form action="/registrarDiario" method="POST">
            <label for="texto">Começe sua sessão por aqui:</label><br>
            <textarea id="texto" name="texto" rows="6" cols="40" placeholder="Digite aqui..."></textarea>

            <p>Como você está se sentindo?</p>

            <div class="emotion-row">
                <div class="emotion" style="background-color: #DED48A;" title="Feliz" data-emocao="Feliz"></div>
                <div class="emotion" style="background-color: #B0DDB5;" title="Contente" data-emocao="Contente"></div>
                <div class="emotion" style="background-color: #DDDADA;" title="Neutro" data-emocao="Neutro"></div>
            </div><br>
            <div class="emotion-row">
                <div class="emotion" style="background-color: #B1BDD9;" title="Triste" data-emocao="Triste"></div>
                <div class="emotion" style="background-color: #C5B9DD;" title="Ansioso" data-emocao="Ansioso"></div>
                <div class="emotion" style="background-color: #D9A1A1;" title="Raivoso" data-emocao="Raivoso"></div>
            </div>

            <p>Qual a intensidade da emoção?</p>
            <div class="slider-container">
                <label for="meuSlider">Nível de intensidade:</label>
                <input type="range" min="1" max="10" value="1" class="slider" id="meuSlider" name="meuSlider">
                <div class="slider-value" id="sliderValue">5</div>
            </div>

            
            <input type="submit" value="Registrar" id="registrarBtn">
        
       
    </form>
    <a href="/LerDiario"><button>Ler meu diário</button></a>
</div>
    <script>  // SLIDEBAR 
        const slider = document.getElementById("meuSlider");
        const valueDisplay = document.getElementById("sliderValue");
        
        function updateValuePosition() {
          const min = parseInt(slider.min);
          const max = parseInt(slider.max);
          const val = parseInt(slider.value);
          
          const percent = (val - min) / (max - min);
          const sliderWidth = slider.offsetWidth;
          const thumbOffset = 10; // metade da largura do thumb
          const left = percent * (sliderWidth - 20) + thumbOffset;
        
          valueDisplay.style.left = `${left}px`;
          valueDisplay.textContent = val;
        }
        
        slider.addEventListener("input", updateValuePosition);
        window.addEventListener("load", updateValuePosition); // inicializa
             // ===================================
             </script>
</body>
</html>
