<!DOCTYPE html>
<html>
<head>
    <title>Diários de <%= username %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container" >
        <h1>Diários de <%= username %></h1>

        <% if (diarios && diarios.length > 0) { %>
            <% diarios.forEach(function(diario) { %>
                <div class="diario">
                    <h2><%= diario.date.toLocaleDateString('pt-BR') || "Data não informada" %></h2>
                    <p><strong>Texto:</strong> <%= diario.texto %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>Nenhum diário encontrado.</p>
        <% } %>
        
    </div>
    
</body>
</html>
