<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Home | Dialoga</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="home">
    <div class="home-container">
        <div class="welcome">
        <h1>Olá, <%= username %>!</h1>
        <p>Como você está se sentindo hoje?</p>
        </div>

        <div class="emotion-box">
        <div class="emotion-row">
            <div class="emotion" style="background-color: #DED48A;" title="Feliz"></div>
            <div class="emotion" style="background-color: #B0DDB5;" title="Contente"></div>
            <div class="emotion" style="background-color: #DDDADA;" title="Neutro"></div>
        </div>
        <div class="emotion-row">
            <div class="emotion" style="background-color: #B1BDD9;" title="Triste"></div>
            <div class="emotion" style="background-color: #C5B9DD;" title="Ansioso"></div>
            <div class="emotion" style="background-color: #D9A1A1;" title="Raivoso"></div>
        </div>
        </div>
        <br>


        <%- include('../partials/header') %>


    </div>
  </body>

</html>